/*blog*/


body {
    position: relative;
    background-image: url("../Photos/BlogBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 6em;
}

.settings {
    width: 90%;
    margin: 0 auto 2.5em auto;
    padding: 0.5em;
    display: block;
    background-color: rgb(133, 133, 133);
    border-radius: 0.2em;

}

#InOrder {
    background-color: lightblue;
}

.SettingButton {
    width: 80%;
    font-size: 1em;
    margin: 0.5em 0;
    background-color: white;
}

.settings h1 {
    font-size: 1.2em;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post span,
.star span {
    position: relative;
}

#StarImage {
    position: absolute;
    right: 0;
    top: 0.2em;
    width: 4em;
}

.post, .star {
    position: relative;
    display: block;
    width: 90%;
    text-align: left;
    margin: 0rem auto 2.5rem auto;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.4rem;

}


.post h2, .star h2 {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    font-weight: bold;
    font-family: Verdana;
}

.post .date, 
.star .date {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    color: grey;
}

.post p,
.star p {
    padding-bottom: 0.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post img,
.star img,
.post video,
.star video,
.post iframe,
.star iframe {
    width: 100%
}

/*>320px screens*/
@media only screen and (min-width: 320px){

}

/*>375px screens*/
@media only screen and (min-width: 375px){


}

/*>425px screens*/
@media only screen and (min-width: 425px){

}

/*>768px screens*/
@media only screen and (min-width: 768px){
}

/*>1024px screens*/
@media only screen and (min-width: 1024px){

    .post, .star {
        width: 50%;
    }

    .settings {
        width: 50%;
    }

}

/*>1440px screens*/
@media only screen and (min-width: 1440px){


}

/*>1600px screens*/
@media only screen and (min-width: 1600px){

}
