/************************************************/
/* IF DEVICE CAN HOVER  */
/************************************************/
@media (hover: hover) {
  .YoutubeIconAppear .icon-container:hover {
    padding-right: 6rem;
    padding-bottom: 6rem;
    transform: translate(0, 0);
  }
}
/***** non hoverable devices account in js (Tablets) */

/************************************************/
/* IOS  */
/************************************************/
@supports (-webkit-touch-callout: none) {

}

/************************************************/
/* DEVICE SIZE */
/************************************************/

/* 1344 px */
@media (max-width: 84em) {
  html {
    font-size: 56%; /* 1 rem = 10px on normal settings */
  }
}

/* 1184 px */
@media (max-width: 74em) {
  html {
    font-size: 56%; /* 1 rem = 10px on normal settings */
  }
}

@media (max-width: 38rem) {
  .timeline {
  }
}
