.temp {
  height: 100vh;
  font-size: 10rem;
}

/******************************/
/* HERO SECTION */
/******************************/

.section-hero {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      to left,
      rgba(34, 34, 34, 0.1),
      rgba(34, 34, 34, 0.65)
    ),
    url("../img/About/Cliff_2MB.jpg");
  background-size: cover;
  color: #fff;
}

.hero {
  max-width: 120rem;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.h1-subheading-container {
  margin-bottom: 2.8rem;
  width: max-content;
}

.h1-subheading {
  display: inline-block;
  font-size: 3.6rem;
  font-family: "Source Code Pro", monospace;
  color: #eee;
  line-height: 1.5;

  overflow: hidden;
  border-right: 0.2rem solid #333;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2rem;
  animation: typing 2s steps(13, end), blink-caret 0.75s step-end infinite;
  animation-delay: 0s, 2s;
}

.h1-subheading:hover {
  animation: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 2rem;
}

.hero-description {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-down-icon {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  right: 8%;
  width: 15rem;
  height: 15rem;
  color: #ddd;
  animation: blink-icon 1.5s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes blink-icon {
  0%,
  100% {
    opacity: 0;
    transform: translate(0, -10%);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

/******************************/
/* NAVIGATION */
/******************************/
.main-nav {
  background-color: #e7f5ff;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  padding-top: 1rem; /* So tab doesnt get cut off on the top*/
}

.main-nav-list {
  display: grid;
  height: 6.2rem;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 1rem; /* So tab doesnt cover the bottom bar*/
}

.main-nav-link:link,
.main-nav-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #2192fc;
}

.scroll-progress-container {
  background-color: #d0ebff;
}

.scroll-progress {
  background-color: #2192fc;
  height: 0.5rem;
}

.sticky .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.sticky main {
  margin-top: 8.25rem;
}

/******************************/
/* ICON */
/******************************/

.icon-container {
  z-index: 99;
  position: fixed;
  transform: translate(20%, 20%);
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s;
}

.icon-container a {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 24rem;
  height: 24rem;
  justify-content: center;
  align-items: center;
}

.icon-img {
  border-radius: 50%;
  width: 19rem;
  height: 19rem;
}

.icon-text {
  position: absolute;
  color: #000;
  font-size: 1.6em;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  height: 100%;
}

.icon-text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 12rem;
}

.YoutubeIconAppear .icon-container {
  opacity: 1;
}

/* Hover aspect in queries.css */

/* FOR NON HOVERABLE DEVICES : see js for implementation */
.YoutubeIconClicked .icon-container {
  padding-right: 6rem;
  padding-bottom: 6rem;
  transform: translate(0, 0);
}

.YoutubeIconAppear .icon-container:hover .icon-text {
  animation: rotateText 8s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
}

/******************************/
/* ABOUT */
/******************************/

.section-about {
  padding: 9.6rem 0 3.2rem 0;
  color: #17191a;
}

/* Uses container */

.about-quote {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  display: block;
}

.about-quote q {
  color: #171819;
  font-size: 2.4rem;
  line-height: 1.6;
}

.about-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.about-engineer {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/******************************/
/* EXPERIENCE */
/******************************/

.section-experience {
  background-color: #111;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4), /* Remember to change GRADIENT const in js if this is changed */
      rgba(34, 34, 34, 0.4)
    ), 
    url("../img/timeline/Background/CJCSGrad.jpg");

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  padding-top: 2.4rem;
}

.timeline-content-onScreen {
  animation: movedown-left 0.5s linear forwards;
}

.timeline-main-heading {
  font-size: 4.8rem;
  margin: 9.6rem auto;
  display: flex;
  justify-content: center;
}

.timeline-section-tag {
  position: fixed;
  top: 9.6rem;
  left: 1rem;
  font-size: 10rem;
  z-index: 20;
  opacity: 0.9;
  color: white;
  text-shadow: 0rem 0rem 1rem #fff;
}

.timeline {
  position: relative;
  max-width: 120rem;
  margin: 9.6rem auto;
  padding-top: 50vh;
  padding-bottom: 50rem;
  color: #171819;
}

.timeline-line {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0%;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-line::before,
.timeline-exists .timeline-line span {
  position: absolute;
  display: block;
  content: "";
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-line::before {
  height: 5rem;
  width: 5rem;
}

.timeline-line span {
  bottom: 0rem;
  height: 4rem;
  width: 4rem;
}

.timeline-container {
  padding: 1rem 5rem;
  position: relative;
  width: 50%;
  z-index: 10;
  margin: 9.6rem 0;
  opacity: 0;
}

.timeline .hide-me:nth-child(odd) {
  animation: moveout-left 0.5s linear backwards;
}

.timeline .hide-me:nth-child(even) {
  animation: moveout-right 0.5s linear backwards;
}

.timeline .show-me:nth-child(odd) {
  animation: movedown-left 0.5s linear forwards;
}

.timeline .show-me:nth-child(even) {
  animation: movedown-right 0.5s linear forwards;
}

@keyframes movedown-left {
  0% {
    opacity: 0;
    transform: translate(-2rem, -3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}

@keyframes movedown-right {
  0% {
    opacity: 0;
    transform: translate(2rem, -3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}

@keyframes moveout-left {
  0% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
  100% {
    opacity: 0;
    transform: translate(-2rem, -3rem);
  }
}

@keyframes moveout-right {
  0% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
  100% {
    opacity: 0;
    transform: translate(2rem, -3rem);
  }
}

.timeline-logo-img {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  right: -2rem;
  top: 3.2rem;
}

.timeline-textbox {
  padding: 2rem 3rem;
  background-color: #fff;
  position: relative;
  border-radius: 0.6rem;
}

.timeline-container:nth-child(odd) {
  left: 0;
}

.timeline-container:nth-child(odd) span {
  height: 0;
  width: 0;
  position: absolute;
  top: 2.8rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #fff;
  right: -1.5rem;
}

.timeline-container:nth-child(even) {
  left: 50%;
}

.timeline-container:nth-child(even) span {
  height: 0;
  width: 0;
  position: absolute;
  top: 2.8rem;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #fff;
  left: -1.5rem;
}

.timeline-container:nth-child(even) img {
  left: -2rem;
}

.timeline-textbox h2,
.timeline-textbox h3,
.timeline-textbox h4,
.timeline-textbox h5 {
  font-weight: 600;
  color: #17191a;
  line-height: 1.2;
}

.timeline-textbox h2 {
  font-size: 2.4rem;
}

.timeline-textbox h3 {
  margin-top: 0.75rem;
  font-size: 1.8rem;
}

.timeline-textbox h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.timeline-textbox h5 {
  font-size: 1.5rem;
}

.timeline-textbox small {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
}

.timeline-textbox p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.timeline-textbox ul {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.timeline-textbox ul:last-child {
  margin-bottom: 0rem;
}

.timeline-textbox li {
  font-size: 1.4rem;
  line-height: 1.5;
}

.courses-taken-list {
  margin-left: 1rem;
}

.show-more-button {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.timeline-content-img{
  width: 100%;
}
/******************************/
/* NAVIGATION */
/******************************/

/******************************/
/* FOOTER */
/******************************/
