
html {
    font-size: 12px;
    background-color: #e8ceae;
}

/* header */
.header{
    background-color: rgb(128, 229, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 0 15%;
    font-size: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.header:hover {
    background-color: rgb(128, 229, 255, 1);
}
.header .logo {
    flex-grow: 1;
    color: black;
}

.header li {
    display: inline;
    padding-right: 1rem;
}

.header li:hover {
    border: solid 1px black;  
}

.header li a {
    text-decoration: none;
    color: #000;
}

/* Banner */
#banner {
    position: relative;
    background-image: url('../Photos/KaitoCliff.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 24rem;
    margin: 0 auto;
    box-sizing: border-box;
}

#title {
    position: relative;
    text-align: center;
    top: 4.2rem;
    padding: 1rem;
    width: 75%;
    border-radius: 0.5rem;
    color: #0fb0f0;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

#rightButton {
    position: absolute;
    top: 14rem;
    right: 0.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.3rem;
    border: none;
}

#rightButton:hover {
    background-color: rgba(77, 154, 206, 0.5);
}

#rightButton img {
    width: 30px;  
    height: auto;  
}

#leftButton {
    position: absolute;
    top: 14rem;
    left: 0.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.3rem;
    border: none;
}

#leftButton:hover {
    background-color: rgba(77, 154, 206, 0.5);
}

#leftButton img {
    width: 30px;  
    height: auto;  
}

#borderButton {
    position: absolute;
    top: 20rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: white;
    font-size: 0.75rem;
}

/* FOOTER */
footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 22rem;
    background-color: grey;
}

footer h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

/*Logo removal for smaller screens*/
@media only screen and (max-width: 768px){
    .header .logo {
        display: none;
    }
}

/*>320px screens*/
@media only screen and (min-width: 320px){
    html {
        font-size: 13px;
    }
}

/*>375px screens*/
@media only screen and (min-width: 375px){
    html {
        font-size: 14px;
    }

}

/*>425px screens*/
@media only screen and (min-width: 425px){
    html {
        font-size: 16px;
    }
    #title {
        font-size: 2rem;
    }
}

/*>768px screens*/
@media only screen and (min-width: 768px){
    #banner {
        height: 31rem;
    }
    #borderButton {
        top: 25rem;
    }
}

/*>1024px screens*/
@media only screen and (min-width: 1024px){
    html {
        font-size: 20px;
    }
    #rightButton img {
        width: 60px;   
    }
    #leftButton img {
        width: 60px;   
    }
    #borderButton:hover {
        font-size: 1.25rem;
    }

    /*change*/
    .header{
        background-color: rgb(128, 229, 255, 0.75);
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
        padding: 0 15%;
        font-size: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 10;
    }
    
    .header:hover {
        background-color: rgb(128, 229, 255, 1);
    }
    .header .logo {
        flex-grow: 1;
        color: black;
    }
    
    .header li {
        display: inline;
        padding-right: 1rem;
        border: 3px;    
    }
    
    .header li a {
        text-decoration: none;
        color: #000;
    }
}



/*>1440px screens*/
@media only screen and (min-width: 1440px){
    html {
        font-size: 22px;
    }


}

/*>1600px screens*/
@media only screen and (min-width: 1600px){
    html {
        font-size: 23px;
    }
}

/*copy and paste


@media only screen and (max-width: ){

}

*/