html {
    font-size: 12px;
    background-color: #e8ceae;
}

/* header */
.header{
    background-color: #a8e0df;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 0 15%;
    font-size: 1rem;
}

.header .logo {
    flex-grow: 1;
    color: black;
}

.header li {
    display: inline;
    padding-right: 1rem;
    border: 3px;    
}

/* Banner */
main .intro {
    background-image: url('./KaitoCliff.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.intro h1 {
    text-align: center;
    padding: 10rem 1rem;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: #FFD700;

}

/*Logo removal for smaller screens*/
@media only screen and (max-width: 690px){
    .header .logo {
        display: none;
    }
}

@media only screen and (min-width: 690px){
    .intro h1 {
        padding: 15rem 1rem;
    }
}

/*>920px screens*/
@media only screen and (min-width: 920px){
    html {
        font-size: 16px;
    }
}

/*>1200px screens*/
@media only screen and (min-width: 1200px){
    html {
        font-size: 20px;
    }

    .intro h1 {
        padding: 18rem 1rem;
    }
}

/*>1600px screens*/
@media only screen and (min-width: 1600px){
    .intro h1 {
        padding: 20rem 1rem;
    }
}

/*copy and paste


@media only screen and (max-width: ){

}

*/